body{
    margin: 0;
}

.header{
    display: block;
    background-color: #F3E9F1;
    padding-bottom: 20px;
    padding-top: 1px;

}

h1{
 
    margin-bottom: 0;
}
h1,p{
    color:#7E3300;
    text-align: center;
}

a.cart{
    position: absolute;
    top: 53px;
    right: 35px;
    text-decoration: none;
    color:#7E3300;
    ;
}
.accueil{
    position: absolute;
    top: 53px;
    right: 180px;
    text-decoration: none;
    color:#7E3300;
}
.fa-shopping-cart{
    margin-right: 10px;
}

footer{
    background-color: #F3E9F1;
}

.nav{
    display: flex;
    justify-content: space-around;
}

a.nav__link{
    text-decoration: none;
    color: #7E3300;
    font-weight: bold;
}

.form{
 margin-bottom: 30px;
}

.form_input{
    width: 200px;
}

.form_order{
    width: 100px;
}

.ordered{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
}

.congrats{
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
}

.confirmation{
    background-color: skyblue;
    border-radius: 30%;
    padding: 20px;
}

.orderid{
    margin: 0;
    padding: 20px;
}